*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lobster', cursive;
}
.card-1{
    width: 300px;
    margin: 20px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px black;

}
.card-1:hover{
    box-shadow: 10px 10px 10px white;
    cursor: pointer;
}
img{
    width: 100%;
    height: 250px;
}
.card-body-1{
    width: 300px;
    text-align: justify;
    box-sizing: border-box;
    background-color: indigo;
    padding: 15px;
    color: white;
}
h1{
    text-align: center;
}
.card-container{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-content: center;
    background-color: darkmagenta;
    padding: 30px;
}